

  <div class="content_title"><h2>Latest Blog Post</h2></div>



     <div class="clearfix single_content">
           <div class="clearfix post_date floatleft">
                  <div class="date">
                      <h3>17</h3>
                      <p>Ocak</p>
                  </div>
           </div>

         <div class="clearfix post_detail">
             <h2><a href="">İki DEV Kanıtla: İyi Dizilerin İyi Kötülere İhtiyacı Var!</a></h2>

               <div class="clearfix post-meta">
                   <p><span><i class="fa fa-user"></i> Üye</span> <span><i class="fa fa-clock-o"></i> 17.01.2019</span> <span><i class="fa fa-comment"></i> 4 comments</span> <span><span><i class="fa fa-folder"></i> Category</span></p>
               </div>

                  <div class="clearfix post_excerpt">
                      <img src="{{ asset('uploads')  }}/images/dizi1.png" alt=""/>
                      <p>Edebiyatta en çok anlatılan hikaye iyi ve kötünün kavgası olsa gerek. Antik Yunan hikayelerinden günümüz süper kahramanlarına kadar uzanan, insanlığın en sevdiği hikaye olan iyi ve kötünün çarpışması zaman içinde birçok farklı yönden ele alındı.</p>
                  </div>
                      <a href="{{ url('skonu' ,{'bno':"DİZİ-ÇİZGİROMAN"}) }}">Blog Sayfasina Gidin</a>
         </div>
     </div>



     <div class="clearfix single_content">
          <div class="clearfix post_date floatleft">
               <div class="date">
                   <h3>18</h3>
                   <p>Ocak</p>
               </div>
          </div>

             <div class="clearfix post_detail">
                  <h2><a href="">600 trilyon Güneş'in parlaklığına sahip kuasar</a></h2>
               <div class="clearfix post-meta">
                  <p><span><i class="fa fa-user"></i> Admin</span> <span><i class="fa fa-clock-o"></i> 18.01.2019</span> <span><i class="fa fa-comment"></i> 4 comments</span> <span><i class="fa fa-folder"></i> Category</span></p>
               </div>

                 <div class="clearfix post_excerpt">
                     <img src="{{ asset('uploads')  }}/images/uzay1.jpeg" alt=""/>
                     <p>Güneş'in parlak olduğunu biliyoruz. Ancak galaktik anlamda parlaklık deyince Yıldız'ımız maalesef sınıfta kalıyor. Yeni tespit edilen kuasar parlaklığın tanımını yeniden yazıyor.</p>
                 </div>
                     <a href="{{ url('skonu' ,{'bno':"UZAY"}) }}">Blog Sayfasina Gidin</a>
             </div>
     </div>




     <div class="clearfix single_content">
            <div class="clearfix post_date floatleft">
                   <div class="date">
                        <h3>19</h3>
                       <p>Ocak</p>
                   </div>
            </div>

         <div class="clearfix post_detail">
                <h2><a href="">	Skoda'nın yeni crossover modeli için teaser videosu paylaşıldı</a></h2>

              <div class="clearfix post-meta">
                  <p><span><i class="fa fa-user"></i> Üye</span> <span><i class="fa fa-clock-o"></i> 19.01.2019</span> <span><i class="fa fa-comment"></i> 4 comments</span> <span><i class="fa fa-folder"></i> Category</span></p>
              </div>

                 <div class="clearfix post_excerpt">
                     <img src="{{ asset('uploads')  }}/images/otomobil1.jpeg" alt=""/>
                     <p>Mart ayında düzenlenecek 2019 Cenevre Otomobil Fuarı'nda dünya prömiyerini gerçekleştirmesi beklenen crossover'ın Skoda Kosmiq adını alması bekleniyor. İşte Skoda crossover'ın teaser videosu</p>
                 </div>
                    <a href="{{ url('skonu' ,{'bno':"OTOMOBİL"}) }}">Blog Sayfasina Gidin</a>
         </div>
     </div>