{% extends 'base.html.twig' %}
{% block title %}HAKKIMIZDA{{ data.title }}{% endblock %}
{% block keywords %}{{ data.keywords }}{% endblock %}
{% block description %}{{ data.description }}{% endblock %}

{% block content %}

                <div><h1>İletişim Bilgilerimiz</h1></div>
                       <p>{{ data[0].contact|raw }}</p>

                <div><h1>Bize Yazin</h1></div>

    {{ include('messages.html.twig')}}

        <form action="#"  class="form-actions" name="contact_message" method="post">

                <fieldset>

                     <div class="form-group">
                         <label class="control-label ">İsim Soyisim</label>
                         <input type="text" name="contact_message[name]" size="60" class="form-control" >
                     </div>

                     <div class="form-group">
                         <label class="control-label ">Email</label>
                         <input type="email" name="contact_message[email]"  size="60" class="form-control" >
                     </div>

                     <div class="form-group">
                         <label class="control-label ">Konu</label>
                         <input type="text" name="contact_message[subject]" size="60" class="form-control" >
                     </div>

                     <div class="form-group">
                        <label class="control-label "></label>
                        <textarea cols="60" rows="10" name="contact_message[message]" > </textarea>
                     </div><br>

                     <input type="hidden" name="token" value="{{ csrf_token('form-message') }}"/>

                     <input type="submit" value="Gönder" class="btn btn-primary btn-lg "/>

                </fieldset>
        </form>

    {{ include('messages.html.twig') }}


{% endblock %}

